*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    padding-right:2rem;
    padding-bottom:2rem;
    display:none;
    position:absolute;
    bottom:0;
    right:0;
    color:white;
    text-align: right;
    width:85%;
}
.subtitle{
    font-size:1.4rem;
}
.slide{
    position:relative;
    width:85%;
    height:100%;
}
.foto{
    display:none;
    object-fit: cover;
    width:100%;
    height:100%;
}
.active{
    display:block;
}
.frame{
    position:relative;
    display:flex;
    width:80rem;
    height:30rem;
}
.precedente,.successivo{
    position:absolute;
    width:3rem;
    height:3rem;
    text-align:center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.484);
    left:50%;
    transform: translate(-50%,0);
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 999;
}
.precedente{
    top:1rem;
}
.successivo{
    bottom:1rem;
}
.precedente>.fa-chevron-up,.successivo>.fa-chevron-down{
    line-height: 3rem;
}
.anteprima{
    position:relative;
    display: flex;
    flex-direction: column;
    height:100%;
    width:15%;
}
.fotoAnteprima{
    height:20%;
    object-fit: cover;
    filter: brightness(20%);
}
.anteprimaActive{
    filter: brightness(100%);
    border:white solid 0.2rem;
}
